<div class="background">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col text-center">
                <a class="navbar-brand me-2" href="https://prabhutejapamula.github.io/portfolio/"></a>
                <div>
                    <h2>
                        <span class="name-text">I am Prabhu Teja Pamula</span>
                    </h2>
                    <h2 id="glowing-text">
                        Welcome to my digital space!
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="resume-link d-flex gap-3 justify-content-center">
        <button class="btn btn-dark resume-btn" (click)="openResume()">Resume</button>
    </div>
</div>