<div class="background d-flex flex-column justify-content-center align-items-center">
    <div class="text-center">
        <h2 id="glowing-text">
            Welcome to my digital space!
        </h2>
        <h2>
            <span class="name-text">I am Prabhu Teja Pamula</span>
        </h2>
    </div>
    <div class="resume-link mt-4 d-flex gap-3">
        <button class="btn btn-dark resume-btn" (click)="openResume()">Resume</button>
        <button class="btn btn-dark resume-btn" (click)="openLinkedIn()">LinkedIn</button>
        <button class="btn btn-dark resume-btn" (click)="openLeetcode()">Leetcode</button>
        <button class="btn btn-dark resume-btn" (click)="openInstagram()">Instagram</button>
        <button class="btn btn-dark resume-btn" (click)="openPhotography()">Photography</button>
        <button class="btn btn-dark resume-btn" (click)="openArtExploration()">Art exploration</button>
        <button class="btn btn-dark resume-btn" (click)="openYoutube()">Youtube</button>
    </div>

    <div class="animated-threads">
        <div class="thread top-left"></div>
        <div class="thread top-right"></div>
        <div class="thread bottom-left"></div>
        <div class="thread bottom-right"></div>
    </div>
</div>