.background {
    background-image: url("../01.gif");
    background-color: black;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
}


.resume-btn {
    position: relative;
    overflow: hidden;
    background-color: #343a40;
    color: white;
    font-size: 1.2rem;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    animation: ripplingEffect 3s ease-in-out infinite;
}

.resume-btn:hover {
    background-color: #23272b;
}

@keyframes ripplingEffect {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}


#glowing-text {
    font-size: 1.7vw;
    font-weight: bold;
    color: #ffffff;
    transition: color 0.5s ease-in-out;
}

.name-text {
    color: white;
    font-size: 3vw;
    font-weight: bold;
}

@media (max-width: 768px) {
    #glowing-text {
        font-size: 3.2vw;
    }

    .name-text {
        font-size: 5vw;
    }

    .resume-btn {
        font-size: 1rem;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    #glowing-text {
        font-size: 4.2vw;
    }

    .name-text {
        font-size: 6vw;
    }

    .resume-btn {
        font-size: 0.9rem;
        padding: 6px 12px;
    }
}

